$width: 700px;
$height: 300px;
$borderWidth: 3px;
$borderRadius: 5px;
$borderColor: solid gainsboro;
$black-weight: 900;

//Text area style
$bottomBorderColor: lightgrey;
$textAreaMargin: 10px 10px 0px 10px;
$textAreaBorder: none none dashed none;

//Edit and Add buttons style.
$white: white;
$blue: darkblue;
$buttonPadding: 10px 40px;
$buttonFontWeight: bold;
$buttonMargin: 15px 20px 15px 20px;
$cursorPointer: pointer;

//Font
$fontFamily: Avenir, Helvetica, Arial, sans-serif;
$fontSize: 17px;

//Tag-s style
$tagMargin: 7px 4px 7px 4px;
$tagPadding: 5px 40px;
$negativeNrColor: #87CEFA;
$positiveNrColor: #FE7B6F;

//Edit area
$editMarginTop: 40px;
$editFormPadding: 10px;